@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@431&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 431;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-image: url("/torii-forest-illustration 1.png")
}